@font-face { 
    font-family: Champ; src: url('assets/Champagne.ttf'); 
} 
 @font-face { 
    font-family: ChampBold; font-weight: bold; src: url("assets/ChampagneBold.ttf");
    }
@font-face { 
    font-family: ChampIt; font-weight: italic; src: url('assets/ChampagneItalic.ttf');
    }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Champ;
    color: #555;
    text-align: left;
    background-color: white;
}

.mainStart{
    height: 100vh;
    font-size: 7vh;
    background-color:white;
}

.mainHi{
    font-size: 7vh;
    /*background-color: green; */
    position: absolute;
    top: 20%;
    right: 20%;
    left: 10%;
    width: 20%;

}

.mainMessage{
    /*background-color: purple;*/
    position: absolute;
    top: 35%;
    left: 10%;
    width: 60%;
    height: 50%;
}

.education{
    /*background-color: green;*/
    margin: auto;
    width: 80%;
}

.title{
    margin:auto;
    width: 60%;
    text-align: center;
}

.script {
    font-family: "Champ";
    color: black;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin:0;
    z-index: 2;
}


.spanWhite{
    background-color:white;
    padding: 0 0.3em;
}

.spanGrey{
    background-color:#EEEEEE;
    padding: 0 0.3em;
}

.script:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 1.5px solid black;
}

.experience{
    /*background-color: aqua;*/
    margin: auto;
    width: 80%;
}

.wrapper{
    margin:auto;
    width: 70%;
    overflow: hidden;
    padding-top: 4vh;
}

.imageLigado{
    float: left;
    padding-right: 4vh;
}

.imageText{
    overflow: hidden;
}

.position{
    color: rgb(14, 105, 14);
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.date{ font-size: 2.5vh;}

.location{font-size:2.5vh;}

/* All for the links in the positions*/

a,a:visited,a:hover,a:active{
    -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
	position:relative;
    transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
}
a:hover{
	color:#d73444;
}
a.before:before,a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
    position:absolute;
}
a.before:before{
    top:-0.15em;
}
a.after:after{
    bottom:-0.15em;
}
a.before:before,a.after:after{
    height:5px;
    height:0.1rem;
    width:0;
    background:#d73444;
}
a.first:after{
    left:0;
}

a.before:hover:before,a.after:hover:after{
    width:100%;
}

footer{
    background-color: #EEEEEE;
    z-index: 1;
}

.footerTitle{
    margin: auto;
    width: 80%;
}

.footerDesc{
    text-align: center;
    font-size: 3vh;
    padding: 2vh;
}