@font-face { 
    font-family: Champ; src: url('assets/Champagne.ttf'); 
} 
 @font-face { 
    font-family: ChampBold; font-weight: bold; src: url("assets/ChampagneBold.ttf");
    }
@font-face { 
    font-family: ChampIt; font-weight: italic; src: url('assets/ChampagneItalic.ttf');
    }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Champ;
    color: #555;
    text-align: left;
    background-color: white;
}

.mainStart{
    height: 100vh;
    font-size: 7vh;
    background-color:white;
}

.mainHi{
    font-size: 7vh;
    background-color: white;
    position: absolute;
    top: 20%;
    right: 20%;
    left: 10%;
    width: 20%;

}

.mainMessage{
    /*background-color: purple;*/
    position: absolute;
    top: 35%;
    left: 10%;
    width: 60%;
    height: 50%;
}

.education{
    /*background-color: green;*/
    margin: auto;
    width: 80%;
}

.title{
    margin:auto;
    width: 45%;
    text-align: center;
}

.script {
    font-family: "Champ";
    color: black;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin:0;
    z-index: 2;
}


.spanWhite{
    background-color:white;
    padding: 0 0.3em;
}

.spanGrey{
    background-color:#EEEEEE;
    padding: 0 0.3em;
}

.script:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 1.5px solid black;
}

.experience{
    /*background-color: aqua;*/
    margin: auto;
    width: 80%;
}

.wrapper{
    margin:auto;
    width: 70%;
    overflow: hidden;
    padding-top: 4vh;
}

.imageLigado{
    float: left;
    padding-right: 4vh;
}

.imageText{
    overflow: hidden;
}

.position{
    color: rgb(14, 105, 14);
    font-size: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.date{ font-size: 2.25vh;}

.location{
    font-size:2.25vh;
    padding-bottom: 1vh;
}

.desc{
    font-size:2.25vh;
}

/* All for the links in the positions*/

.mainLink a,a:visited,a:hover,a:active{
    -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
	position:relative;
    transition:0.5s color ease;
	text-decoration:none;
    color:#81b3d2;
    font-size: 3vh; /* Change size of the Link font */
}
.mainLink a:hover{
	color:#EA5548;
}
.mainLink a.before:before,a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
    position:absolute;
}
.mainLink a.before:before{
    top:-0.15em;
}
.mainLink a.after:after{
    bottom:-0.15em;
}
.mainLink a.before:before,a.after:after{
    height:5px;
    height:0.1rem;
    width:0;
    background:#EA5548;
}
.mainLink a.first:after{
    left:0;
}

.mainLink a.before:hover:before,a.after:hover:after{
    width:100%;
}

/* All for the links in the positions*/

footer{
    background-color: #EEEEEE;
    z-index: 1;
}

.footerTitle{
    margin: auto;
    width: 80%;
}

.footerDesc{
    text-align: center;
    font-size: 3vh;
    padding: 2vh;
}

.social{
    margin: auto;
    width: 80%;
    text-align: center;
}

.socialImg{
    padding: 2vh;
}

/* Side Bar Shit */

.nav-pane {
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    -moz-transition: 250ms;
    transition: 250ms;
    position: fixed;
    -webkit-transform: translateX(350px);
       -moz-transform: translateX(350px);
         -o-transform: translateX(350px);
            transform: translateX(200vh);
    top: 0;
    height: 100vh;
    width: 348px;
    background: #EA5548;
    border-right: 2px solid #e94d3f;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    box-shadow: 0px 3px 10px rgba(33, 33, 33, 0.5);

    float: right;
}

@media screen and (max-width: 620px) {
    .nav-pane {
        width: 298px;
        -webkit-transform: translateX(-300px);
           -moz-transform: translateX(-300px);
             -o-transform: translateX(-300px);
                transform: translateX(-300px);
    }
}

.nav-pane h1 {
    margin: 0;
    text-align: center;
    color: #F1F1F1;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nav-pane.open {
    -webkit-transform: translateX(154vw);
       -moz-transform: translateX(154vw);
         -o-transform: translateX(154vw);
            transform: translateX(350%);
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    -moz-transition: 250ms;
    transition: 250ms;
}

.toggle-nav {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    color: black;
}

.toggle-nav.open span.m, .toggle-nav.open span.n, .toggle-nav.open span.u {
    opacity: 1;
    z-index: 100;
    position: relative;
}

.toggle-nav span.m, .toggle-nav span.n, .toggle-nav span.u {
    font-size: 1.05rem;
    z-index: 100;
    position: relative;
    opacity: 0;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    -moz-transition: 250ms;
    transition: 250ms;
    letter-spacing: 2px;
}

.toggle-nav span.e {
    z-index: 100;
    position: relative;
    display: inline-block;
    height: 12px;
    width: 17px;
}

.toggle-nav span.e.btn-close span.bar:nth-child(1) {
    z-index: 100;
    position: relative;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    -moz-transition: 250ms;
    transition: 250ms;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 3px;
}

.toggle-nav span.e.btn-close span.bar:nth-child(2) {
    z-index: 100;
    position: relative;
    opacity: 0;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    -moz-transition: 250ms;
    transition: 250ms;
}

.toggle-nav span.e.btn-close span.bar:nth-child(3) {
    z-index: 100;
    position: relative;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    -moz-transition: 250ms;
    transition: 250ms;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 5px;
}

.toggle-nav span.e span.bar {
    z-index: 100;
    position: relative;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    -moz-transition: 250ms;
    transition: 250ms;
    position: relative;
    display: block;
    background: #212121;
    border-radius: 1px;
    border-bottom: 1px solid #616161;
    width: 15px;
    height: 1px;
}

.toggle-nav span.e span.bar:nth-child(2) {
    z-index: 100;
    position: relative;
    margin: 3px 0;
}

.toggle-nav:hover span.m, .toggle-nav:hover span.n, .toggle-nav:hover span.u {
    z-index: 100;
    position: relative;
    opacity: 1;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    -moz-transition: 250ms;
    transition: 250ms;
}

/* Side Bar Shit */